.cards__item {
  display: flex;
  width: 425px;
  height: 450px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px;
  background-color: #242526;
}

.card__wrap {
  display: flex;
  width: 100%;
}

.card__wrap_1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__wrap_2 {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.card {
  max-width: min-content;
  margin-bottom: 8px;
}

.btn__favorites {
  padding-top: 8px;
  padding-bottom: 10px;
}

.card__name {
  color: white;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 8px;
}

.card__gender, .card__hairColor {
  display: block;
  color: white;
  font-size: 16px;
}

.card__detail {
  display: flex;
}

.card__base_information {
  text-align: center;
}

.card__detail_name {
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

.card__detail_gender, .card__detail_hairColor {
  color: white;
  font-size: 500;
}

.card__more_information {
  color:white;
  margin-left: 20px;
}

.card__more_information_item {
  margin-bottom: 10px;
}

.card__more_information_btn_favorites {
  display: flex;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  color: #ffdd00;
}

.card__favorite {
  color: #ffdd00;
  margin-top: 10px;
}
